player-connection-mode=Listen
player-connection-guid=2587352794
player-connection-debug=0
player-connection-project-name=gorillla gat
player-connection-ip=192.168.86.83
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
vr-enabled=1
xrsdk-windowsmr-library=WindowsMRXRSDK
wait-for-native-debugger=0
hdr-display-enabled=0
headless=
xrsdk-pre-init-library=OculusXRPlugin
